@import "../../../styles/common.scss";

.input {
    input {
      height: 48px;
      border: 1px solid $gray-500;
      padding: 0 $padding-sm * 1.25;
      border-radius: $border-radius-xs;

      &:focus{
        border: 1px solid $info-200;
      }
      &::placeholder {
        color: $gray-400;
        opacity: 1; /* Firefox */
      }
      
      &::-ms-input-placeholder { /* Edge 12 -18 */
        color: $gray-400;
      } 
    }
  }
