<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap'
            rel='stylesheet'
        />
        <title>Welcome to ICU2</title>
    </head>

    <body style='font-family: Arial, sans-serif; margin: 0; padding: 50px 20px; background-color: #f4f4f4;'>
        <table role='presentation' style='width: 600px; max-width:100%; margin: 0 auto; border-collapse: collapse;'>
            <tr>
                <td align='center' style=''>
                    {{!-- <img src=`{{baseUrl}}/images/email_header.jpg` alt="Company Logo"
                    style="display: block; max-width: 100%; margin: 0 auto;"> --}}
                </td>
            </tr>
        </table>
        <table role='presentation' style='width: 600px; max-width:100%; margin: 0 auto; background-color: #ffffff;'>
            <tr>
                <td style='padding: 30px;'>
                    <h3 style="color: #333;font-family: 'Montserrat', sans-serif; margin-top: 0;">Welcome to ICU2</h3>
                    <p style="font-family: 'Roboto', sans-serif;">Hey {{name}},</p>
                    <p style="font-family: 'Roboto', sans-serif;">We're excited to have you on board.</p>
                    <p style="font-family: 'Roboto', sans-serif;">Please forgot your password to follow the steps.</p>

                    <p style="font-family: 'Roboto', sans-serif;margin-bottom: 0;">Best,</p>
                    <p style="font-family: 'Roboto', sans-serif;margin-top: 5px;margin-bottom: 0;"><strong
                        >Tim</strong></p>
                    <p style="font-family: 'Roboto', sans-serif;margin-top: 5px;margin-bottom: 0;">Founder of WildSEO</p>
                    <p style="font-family: 'Roboto', sans-serif;margin-top: 5px;margin-bottom: 0;"><a
                            href
                        >WildSEO.co</a></p>
                </td>
            </tr>
        </table>
        <table role='presentation' style='width: 600px; max-width:100%; margin: 0 auto; '>
            <tr>
                <td>
                    <p style='text-align: center;color: #a1a1a1; margin-bottom: 0;'>You are receiving this email because
                        you are a highly appreciated customer.</p>
                    <p style='text-align: center; margin-top: 5px;'><a
                            style='color: #a1a1a1; font-size: 12px;'
                            href='{{appUrl}}/privacy-policy'
                        >Privacy Policy</a>
                        |
                        <a style='color: #a1a1a1; font-size: 12px;' href='{{appUrl}}/terms-of-services'>Terms of Service</a></p>
                </td>
            </tr>
        </table>
    </body>

</html>