$black: #000000;
$white: #ffffff;
$primary: #f96911;
$secondary: #3b024f;

$gray-100: #F3F4F8;
$gray-200: #F3F4F8;
$gray-300: #D2D4DA;
$gray-400: #B3B5BD;
$gray-500: #9496A1;
$gray-600: #777986;
$gray-700: #5B5D6B;
$gray-800: #404252;
$gray-900: #282A3A;
$gray-1000: #101223;

$info-100: #8fc6fd;
$info-200: #2F97ED;
$info-300: #0F62A8;

$warning-100: #FEFCBF;
$warning-200: #FFC93E;
$warning-300: #C07E1A;

$success-100: #F7FFF6;
$success-200: #2FBE2C;
$success-300: #067503;

$danger-100: #FFF8F8;
$danger-200: #E73434;
$danger-300: #AE1616;

