@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-family-default: 'Roboto', sans-serif;
$font-size-default: 14px;
$font-size-md: $font-size-default + 2px;
$font-size-lg: $font-size-md + 5px;
$font-size-xl: $font-size-lg + 9px;
$font-100:100;
$font-200:200;
$font-300:300;
$font-400:400;
$font-500:500;
$font-600:600;
$font-700:700;
$font-800:800;
$font-900:900;

