@import '../styles/common.scss';

body {
  padding: 0;
  margin: 0;
  color: $black;
  font-size: $font-size-default;
  font-family: $font-family-default;
  font-weight: $font-400;
  overflow-x: hidden;
  background-color: $bg-100;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-default;
    color: $black;
  }

  .form-check-input:focus {
    box-shadow: none;
  }

  p,
  a {
    font-family: $font-family-default;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $info-200;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  [disabled],
  .form-check-input:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .btn-primary.btn {
    background-color: $primary;
    border-color: $primary;
    border-radius: $border-radius-sm;
    height: 48px;
  }
  .btn-primary:hover {
    background-color: $secondary;
    border-color: $secondary;
  }

  .card .card-header {
    background: $white;
    padding: $padding-md;
    font-size: $font-size-lg;
    font-weight: $font-500;
    @include flex-container(
      $direction: row,
      $spacing: space-between,
      $alignment: center
    );
  }

  .table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: $gray-100;
  }
  .table-striped > tbody > tr > td,
  .table-striped > thead > tr > th {
    padding: $padding-md;
    vertical-align: middle;
  }

  .MainWrapper {
    padding-top: 90px;
    min-height: calc(100vh - 125px);
    margin-left: 270px;

    @include for-mobile {
      margin-left: 0px;
    }
  }
}
